
# Articles

articles/1-s2.0-S1742287611000247-main.pdf
articles/cs-156.pdf

# Emacs Backup files
*~

# Python compiled
*pyc

# Genderapi

files/genderapipass.txt
files/nameapipass.txt
files/features_list.csv
files/features_list_cat.csv
files/features_list_no_cat.csv
files/damegender.tex
